<div class="container mt-3">
    <div class="row">
      <div class="col">
        <p class="h3 text-dark">View Branch</p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem
          molestias temporibus esse minima, praesentium ab alias earum id, omnis,
          voluptatem vero corporis inventore voluptatibus dicta ratione similique
          qui facere iure.
        </p>
      </div>
    </div>
  </div>
  
  <!--Contact Details-->
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <ul class="list-group">
          <li class="list-group-item">
            Branch ID: <span class="fw-bold">{{ branch.branchId }}</span>
          </li>
          <li class="list-group-item list-group-item-dark">
            Branch Name: <span class="fw-bold">{{ branch.branchName }}</span>
          </li>
          <li class="list-group-item">
            IFSC Code: <span class="fw-bold">{{ branch.ifscCode }}</span>
          </li>
          <li class="list-group-item list-group-item-dark">
            Branch City: <span class="fw-bold">{{ branch.branchCity }}</span>
          </li>
          <li class="list-group-item">
            Branch State: <span class="fw-bold">{{ branch.branchState }}</span>
          </li>
          <li class="list-group-item">
            Branch State: <span class="fw-bold">{{ branch.branchAddress }}</span>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="row mt-3">
      <div class="col">
        <a class="btn btn-danger" routerLink="/"
          ><i class="fa fa-arrow-alt-circle-left"></i> Back</a
        >
      </div>
    </div>
  </div>
  