.border-white{
    border:0px solid rgb(230, 216, 216);
}

.side-nav-content{
    color:rgb(239, 231, 231);
    width:230px;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
}

.nav-list{
    list-style: none;
    height: 100%;
    padding:0%;
    margin:0%;
}
.nav-list-item{
    display:flex;
    align-items: center;
    height:50px;
}

.nav-list-open .nav-list-item:hover{
    background-color: rgba(174, 175, 174, 0.3);
    border-radius: 10px;
}

.nav-list-item span{
    width:20px;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color:white;
    margin-left:50%;
    
}

