<div class="container">
<div class="card">
    <article class="card-body">
       <!-- <a href="" class="float-right btn btn-outline-primary">Sign up</a> -->
        <h4 class="card-title mb-4 mt-1">Sign in</h4>
        <p>
            <a routerLink="/login/google-sign-in" class="btn btn-block btn-outline-warning"> <i class = "fab fa-google" style="color:orangered"></i>   Login via Google</a>
            <a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-github-square" style="color:black"></i>   Login via Git-hub</a>
        </p>
        <hr>
        <br>
        <form>
        <div class="form-group">
            <input name="" class="form-control" placeholder="Email or login" type="email">
        </div> <!-- form-group// -->
        <br>
        <div class="form-group">
            <input class="form-control" placeholder="******" type="password">
        </div> <!-- form-group// --> 
        <br>                                     
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div> <!-- form-group// -->
            </div>
                                                      
        </div> <!-- .row// -->                                                                  
    </form>
    </article>
    </div> <!-- card.// -->
</div>
