<div class="row">
    <div class="col-sm-4">
       <div class="card">
          <div class="card-header">
             <h5 class="card-title">Details</h5>
          </div>
         <div class="card-body">
            <p class="card-text">Basic Information...</p>
         </div>
      </div>
   </div>
    <div class="col-sm-4">
    <div class="card">
       <div class="card-header">
          <h5 class="card-title">Loan Account Details</h5>
       </div>
      <div class="card-body">
         <p class="card-text">account NO:</p>
         <p class="card-text">balance amount:</p>
         <p class="card-text">rate of Interest:</p>
         <p class="card-text">loan Duration:</p>
         <p class="card-text">total loan amount:</p>
         <p class="card-text">loan statu:</p>
         <p class="card-text">loan account typeID:</p>
      </div>
   </div>
</div>
<div class="col-sm-4">
    <div class="card">
       <div class="card-header">
          <h5 class="card-title">Transaction Details</h5>
       </div>
      <div class="card-body">
         <p class="card-text">Transaction fee:</p>
         <p class="card-text">Transaction ID:</p>
         <p class="card-text">Transaction Date&Time:</p>
         <p class="card-text">Transaction Amount:</p>

      </div>
   </div>
</div>
<div class="col-sm-4">
    <div class="card">
       <div class="card-header">
          <h5 class="card-title">Account Details</h5>
       </div>
      <div class="card-body">
         <p class="card-text">account NO:</p>
         <p class="card-text">account TypeID:</p>
         <p class="card-text">account status:</p>
         <p class="card-text">Created Date: </p>
      </div>
   </div>
</div>
<div class="col-sm-4">
    <div class="card">
       <div class="card-header">
          <h5 class="card-title">Savings Account Details</h5>
       </div>
      <div class="card-body">
         <p class="card-text">account NO:</p>
         <p class="card-text">Balance:</p>
         <p class="card-text">transfer limit:</p>
         <p class="card-text">branch code:</p>
         <p class="card-text">account typeid:</p>
         <p class="card-text">account status:</p>
      </div>
   </div>
</div>
<div class="col-sm-4">
    <div class="card">
       <div class="card-header">
          <h5 class="card-title">Savings Transaction History</h5>
       </div>
      <div class="card-body">
         <p class="card-text">Transaction ID:</p>
         <p class="card-text">account NO:</p>
         <p class="card-text">Transaction Detail:</p>
         <p class="card-text">withdraw amount:</p>
         <p class="card-text">deposit amount:</p>
         <p class="card-text">Balance:</p>
         <p class="card-text">Transaction Date:</p>
      </div>
   </div>
</div> 
